/*
Admin notice
*/
.orfw-plugin-required-notice {
  overflow: hidden;
  padding: 15px 15px;
}
.orfw-plugin-required-notice img.orfw-logo {
  max-height: 48px;
  float: left;
}
.orfw-plugin-required-notice .orfw-admin-notice-content {
  float: left;
  padding-left: 20px;
}
.orfw-plugin-required-notice .orfw-admin-notice-content h2 {
  margin: 0;
  font-size: 18px;
  color: #4636ff;
}
.orfw-plugin-required-notice .orfw-admin-notice-content p {
  margin: 0;
  margin-top: 5px;
}
