.hide {
  display: none;
}

.orfw-horizontal-bounce {
    animation: orfw-horizontal-bounce 1250ms infinite;
    animation-timing-function: linear;
}
.orfw-shakeX {
  animation: shakeX 1.5s ease;
}

@keyframes orfw-spin {
    0% {
        transform: rotate( 0deg );
    }
    100% {
        transform: rotate( 360deg );
    }
}

@keyframes orfw-horizontal-bounce {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes shakeX {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}